.app{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#brand{
    color: beige;
}

#nav-name{
    color: #f5f5db;
}

#hamburger{
    color: beige;
    padding: 10px;
}

#title-nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
}

#icon{
    padding-left: 10px;
}

.default-dropdown{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 5px;

}
